.title-block {
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    text-transform: uppercase;
    padding: 25px 5px; /* Уменьшен padding */
    background: linear-gradient(to right, #1a0000, #570000);
    letter-spacing: 2px;
    text-shadow: 0 2px 8px rgba(0,0,0,0.4);
    border-bottom: 1px solid #5a0000;
    margin-top: 0;
}